*, html {
	margin: 0;
	padding: 0;
}
body {
	background: silver;
	font-family: sans-serif;
	text-align: center;
}

header {
	background: dodgerblue;
	padding: 50px;
}

iframe {
	margin: 10px 45px;
}

h2 {
	margin: 20px 0 5px 0;
}